SECRET_KEY=change-me-to-something-random
DEBUG=True

GOOGLE_CLIENT_ID=google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=google-client-secret
GOOGLE_CALLBACK=callback-url-for-google-auth

DATABASE_URL=postgresql://username:password@host:port/database